apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: paimon-lab
data:
  nginx.conf: |
    user nginx;
    worker_processes auto;
    error_log /var/log/nginx/error.log warn;
    pid /var/run/nginx.pid;

    events {
        worker_connections 1024;
    }

    http {
        include /etc/nginx/mime.types;
        default_type application/octet-stream;
        log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for"';

        log_format json_combined escape=json '{'
            '"time":"$time_iso8601",'
            '"remote_addr":"$remote_addr",'
            '"http_user_agent":"$http_user_agent",'
            '"method":"$request_method",'
            '"uri":"$uri",'
            '"sa_data":"$arg_data",'
            '"status":$status'
        '}';
        access_log /var/log/nginx/access.log json_combined;

        sendfile on;
        keepalive_timeout 65;
        types_hash_max_size 2048;

        server {
            listen 80;
            server_name localhost;
            root /usr/share/nginx/html;
            index index.html;

            location / {
                return 200 'OK';
                add_header Content-Type text/plain;
            }

            location = /sa {
                access_log /var/log/nginx/access.log json_combined;
                return 204;
            }

            location /api {
                return 200 'OK';
                add_header Content-Type text/plain;
            }
        }
    }
