apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: lakehouse-track
data:
  nginx.conf: |
    user root;
    worker_processes auto;

    error_log /var/log/nginx/error.log warn;
    pid /var/run/nginx.pid;

    events {
        worker_connections 8192;
        accept_mutex on;
    }

    http {
        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        map $http_x_forwarded_for $clientRealIp {
            ""    $remote_addr;
            ~^(?P<firstAddr>[0-9\.]+),?.*$    $firstAddr;
        }

        log_format main '$clientRealIp - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" "$http_x_forwarded_for" "$request_body" "$upstream_addr"';
        log_format log_extractor '"$proxy_add_x_forwarded_for" ++_ "$msec" ++_ "$request_method" ++_ "$arg_gzip" ++_ "$arg_data" ++_ "$arg_data_list" ++_ "$request_body" ++_ "$http_user_agent" ++_ "$arg_project" ++_ "$http_cookie" ++_ "$arg_token" ++_ "$arg_ext"';

        access_log /var/log/nginx/access.log main;

        sendfile on;
        keepalive_timeout 65;
        types_hash_max_size 2048;
        server_tokens off;

        gzip on;
        gzip_types text/plain text/css application/json application/javascript application/octet-stream;

        server {
            listen 80;
            server_name localhost;

            if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
                set $year $1;
                set $month $2;
                set $day $3;
                set $hour $4;
            }

            location /health {
                access_log off;
                return 200 "healthy\n";
                add_header Content-Type text/plain;
            }

            location /sa.gif {
                add_header 'Access-Control-Allow-Origin' '*';
                if ($request_method = 'OPTIONS') {
                    access_log off;
                    return 204;
                }
                add_header Cache-Control 'no-cache, no-store, must-revalidate';
                add_header Pragma 'no-cache';
                add_header Expires 'Mon, 28 Sep 1970 05:00:00 GMT';
                access_log /var/log/nginx/access.log log_extractor;
                empty_gif;
            }

            location = /sa {
                add_header Cache-Control 'no-cache, no-store, must-revalidate';
                access_log /var/log/nginx/access.log log_extractor;
                return 204;
            }

            location = /robots.txt {
                return 200 "User-agent: *\nDisallow: /";
                access_log off;
            }
        }
    }
