apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: collection-hpa
  namespace: lakehouse-track
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: collection
  minReplicas: 6
  maxReplicas: 20
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 60
      policies:
        - type: Pods
          value: 4
          periodSeconds: 60
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Pods
          value: 2
          periodSeconds: 120
